<ion-header>
<ion-toolbar>
    <ion-buttons slot="start">
        <ion-back-button defaultHref="home"></ion-back-button>
      </ion-buttons>
<ion-title>Datos Ingresados</ion-title>
</ion-toolbar>
</ion-header>
<ion-content>
<ion-card>
<ion-item>
    Nombre: {{datos_formulario_nombre}}
</ion-item>
<ion-item>
    Run: {{datos_formulario_rut}}
</ion-item>
<ion-item>
    Correo: {{datos_formulario_correo}}
</ion-item>
<ion-item>
    Password: {{datos_formulario_password}}
</ion-item>

</ion-card>




</ion-content>